/* Form styles */

$basecolor: #333333;
$cozy: 10px;
$comfortable: 5px;
$compact: 3px;

$fontsize: 12px;

@mixin cozy {
  margin: 10px;
  padding: 10px;
}

.andare {
  .spinner {
    background: url(../../images/andare/ico-16x16-spinner.gif) no-repeat scroll center center transparent;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 0 50px 50px;
    text-indent: -6000px;
  }
  h2 {
    padding: 0px 5px 5px;
    font-size: 18px;
    .help {
      float: right;
      font-size: 11px;
    }
  }
  .summary, form, .form {
    background: #f6f6f6;
    // border: 1px solid #DDD
    border-radius: 4px;
    padding-bottom: 5px;
    padding-top: 5px;
    fieldset {
      margin: 10px 10px 35px;
      padding: 0px 15px;
      background: none;
      border: none;
      box-shadow: none;
      legend {
        border-top: 3px solid #e9e9e9;
        display: block;
        width: 100%;
        span {
          display: inline-block;
          background: #f6f6f6;
          position: relative;
          top: -12px;
          padding-left: $cozy;
          padding-right: $cozy;
          line-height: 25px;
          margin-left: 20px;
          color: #333333;
          font-size: 13px;
        }
      }
      > ul {
        width: 100%;
      }
      .field {
        overflow: hidden;
        clear: both;
        padding-bottom: $compact;
        padding-top: $compact;
        display: block;
        float: none;
        &:first-child {
          border-top: none;
        }
        &:last-child {
          border-bottom: none;
        }
        &.no-label-element {
          margin-left: 205px;
        }
        &.required {
          .asterisk {
            color: #990000;
            font-size: 12px;
            padding-left: 3px;
          }
        }
        label {
          float: left;
          width: 200px;
          color: #888888;
          text-align: right;
          line-height: $fontsize + 4;
          font-size: $fontsize;
          display: table-cell;
          margin-right: $cozy;
          padding-top: 5px;
          margin-top: 5px;
          .hint {
            display: block;
            clear: both;
            color: $basecolor + #686868;
            font-size: 11px;
            line-height: 13px;
            padding-top: 3px;
            padding-left: $cozy;
            font-style: italic;
          }
          &.checkbox {
            margin-left: 205px;
            text-align: left;
          }
        }
        &.focus {
          background-color: #f9f9f9;
          label {
            color: $basecolor - #333333;
            .hint {
              color: $basecolor + #333333;
            }
          }
        }
        input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
          width: 220px;
        }
        textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], select {
          -webkit-appearance: none;
          -moz-appearance: none;
          outline: none;
          height: 30px;
          border: 1px solid #cccccc;
          border-radius: 3px;
          padding: 6px 8px;
          margin-top: 3px;
          font-size: 13px;
          font-family: Helvetica, Arial;
          background-color: #fefefe;
          color: #333333;
          &.important {
            font-weight: bold;
          }
          &:focus {
            webkit-box-shadow: 0px 0px 2px 2px rgba(102, 153, 180, 0.2);
            box-shadow: 0px 0px 2px 2px rgba(102, 153, 180, 0.2);
            color: #222222;
            border-color: rgba(102, 153, 204, 1);
            background-color: white;
            transition: border linear 0.1s, box-shadow linear 0.1s, background linear 0.1s;
          }
        }
        textarea[disabled], input[type="text"][disabled], input[type="password"][disabled], select[disabled] {
          background-color: #efefef;
          color: #666666;
        }
        select {
          padding: 5px 4px;
          width: 220px;
        }
        @media screen and (-webkit-min-device-pixel-ratio: 0) {
          select {
            background-image: url("../../images/andare/ico-20x16-webkit-select.png");
            background-repeat: no-repeat;
            background-position: right center;
          }
        }
        &.error {
          textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], select {
            border: 1px #dda3a3 solid;
            background-color: #fef4f4;
          }
          span.error {
            color: #a74242;
            padding: 4px 8px;
          }
        }
      }
    }
  }
  p.required {
    line-height: 30px;
    padding: 0px 15px;
  }
  .summary {
    fieldset {
      padding: $compact;
      margin: 0px;
      .field {
        border-bottom: #dddddd solid 1px;
        border-top: white solid 1px;
        label {
          width: 175px;
          line-height: $fontsize;
          font-size: $fontsize;
          .hint {
            display: none;
          }
        }
        span.input {
          font-size: $fontsize;
          display: inline-block;
          line-height: 25px;
          margin-top: 2px;
        }
      }
    }
  }
}

//migrated from patterns/forms.css
.name_value_header_row {
  padding-bottom: 5px;
}

.name_value_error_row {
  padding-bottom: 6px;
}

.name_value_cell {
  vertical-align: top;
  padding-bottom: 5px;
}

.name_value_cell.cell_edit_reset_actions {
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 5px;
}

.name_value_cell.icon_remove_cell {
  vertical-align: middle;

}

.name_value_error {
  color: #A40000;
  font-style: italic;
  vertical-align: top;
  width: 250px;
}

label.error {
  float: left;
  color: #a40000;
  width: auto;
  max-width: 370px;
  padding-left: 8px;
  font-style: italic;
}

.form_error {
  color: #A40000;
  float: left;
  font-style: italic;
  max-width: 370px;
  padding: 7px;
  width: auto;
}

textarea.error,
input[type="text"].error,
.fieldWithErrors textarea,
.fieldWithErrors textarea:focus,
.fieldWithErrors input[type="text"],
.fieldWithErrors select,
.fieldWithErrors input[type="text"]:focus {
  background-color: #F6E0E0;
  border: 1px solid #DA7272;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  float: left;
}

.fieldWithErrors label {
  color: #A40000;
}

/**
 * =REQUIRED_MESSAGING
**/
.required .asterisk {
  color: #C00;
}

/**
 * =TRISTATE_CHECKBOX
**/
.tristate {
  background-position: 1px 3px;
  background-repeat: no-repeat;
  margin: 5px 0 3px 3px;
  padding-left: 19px;
}

.hilighted .selectors {
  background-color: #EE9;
  border-bottom: 1px solid #000;
}

.tristate_disabled_message {
  color: #F33;
}

.tristate.add {
  background-image: url(../../images/tri-state-checkbox-checked.png);
}

.tristate.remove {
  background-image: url(../../images/tri-state-checkbox-empty.png);
}

.tristate.nochange {
  background-image: url(../../images/tri-state-checkbox-slash.png);
}

/**
 * =FORM_ITEM_PROPERTIES
**/

.form_item.disabled input {
  background-color: #D0D0D0;
}

.form_item.disabled label,
.form_item.disabled h3 {
  color: #999;
}

label.inline {
  display: inline;
  margin-bottom: 0;
  vertical-align: top;
}

.form_item {
  margin-bottom: 10px;
}

.form_item button {
  margin-left: 5px;
}

.form_item_block {
  padding-bottom: 15px;
}

.form_item_block:last-child {
  padding-bottom: 0;
}

.checkbox_row * {
  vertical-align: middle;
}

.checkbox_row label.inline {
  padding-left: 5px;
}

.checkbox_label_box label {
  display: inline;
}

.checkbox_label_box {
  padding: .5em 0 .5em 0;
}

.fieldset, fieldset {
  -moz-border-radius: 5px 5px 5px 5px;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15) inset;
  -webkit-border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15) inset;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15) inset;
  background-color: #EEEEEE;
  border: 1px solid #CCCCCC;
  clear: both;
  margin: 0 0 0px;
  padding: 15px 15px;
}

.fieldset.has_nested_fieldset .fieldset {
  border: none;
  padding: 0px;
  -moz-border-radius: 0;
  -moz-box-shadow: none;
  -webkit-border-radius: 0;
  -webkit-box-shadow: none;
  border-radius: 0;
  box-shadow: none;
}

.nested_form_fragment .fieldset, .nested_form_fragment fieldset {
  border: none;
  clear: both;
  margin: 0 0 0px;
  padding: 0px;
}

.fieldset {
  clear: none;
  margin-bottom: 15px;
}

.fieldset .form_item_block input,
.fieldset .form_item_block select {
  float: left;
}

.fieldset .form_item_block input[type=radio],
.fieldset .form_item_block input[type=checkbox] {
  float: none;
}

.form_item {
  margin: 0;
  padding-bottom: 20px;
  overflow: hidden;
}

.fieldset .form_item {
  padding-bottom: 10px;
  border-bottom: 1px dotted #CCC;
  margin-bottom: 10px;
}

.fieldset .form_item:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border: 0;
}

.checkbox_row * {
  vertical-align: baseline !important;
}

.checkbox_row label {
  display: inline;
  margin: 0 10px 0 0;
  color: #333;
  font-weight: normal;
}

.form_item_block {
  margin-right: 10px;
}

.form_buttons {
  overflow: hidden;
}

.form_item_block {
  margin-right: 10px;
  overflow: hidden;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

textarea.template {
  display: none;
}

input[type="text"].searchbox {
  background: url("../../images/g9/icon_search.png") transparent no-repeat right;
  padding-right: 16px;
}

select.large,
textarea.large,
input.large {
  width: 500px;
}

input.small {
  width: 100px;
}

input.extra_small {
  width: 50px;
}

select.small {
  width: 125px;
}

input.full {
  width: 100%;
}

label.disabled {
  color: #999;
}

input.in_between_text {
  margin-left: -9px;
}